.example-code-title {
	background-color: #e1e4e5;
	padding: .5rem;
	margin-top: 1.5rem;
}

iframe.demo {
	width: 100%;
	border: 1px solid #e1e4e5;
}

a code {
	color: #2980B9;
	text-decoration: none;
}

a:hover code {
	color: #3091d1;
}

a:visited code {
	color: #9B59B6;
}
